* {
  scroll-behavior: smooth;
}

.navbar-custom {
  background-color: #1d2024;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

nav li .active {
  color: #57cbcc !important;
}

nav li a {
  color: #caced2;
}

nav li a:hover{
  color: #57cbcc;
}
nav button {
  border-radius: 0;
  color: #57cbcc;
  border: 1px solid #57cbcc;
  background-color: transparent;
  border: 1px solid ivory;
  color: white;
}

nav button:hover{
  color: #57cbcc;
  border: 1px solid #57cbcc;
  background-color: transparent;
}

.banner {
  background: url("../../assets/bgbanner.png") no-repeat;
  padding: 0;
}

.banner-inner {
  background-color: rgba(0, 0, 255, 0.6);
  padding: 0;
  color: white;
}

.banner-inner p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.banner-inner button {
  border-radius: 0;
  color: ivory;
  border: 2px solid ivory;
  background-color: transparent;
  width: 20.813rem;
  height: 77px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
}

.banner-inner button:hover,
.card-body button:hover,
nav button:hover {
  transform: scale(0.9);
  transition: ease-in-out;
  transition-duration: 500ms;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.all-quotes{
  background-color: #242931;
}

.all-quotes h2{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: white;
}

.all-quotes h2>span{
  color: #57cbcc;
}

.hr{
  width: 30%;
  margin: auto;
  height: 6px;
  background-color:#57cbcc;
}

.quote-cards {
  width: 90%;
  margin: 0 auto;
}

.quote-sec {
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}

.card {
  background-color: #242931;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  line-height: 59px;
}

.card img:hover {
  transform: scale(1.2);
  transition: ease-in-out;
  transition-duration: 300ms;
}

.card-body button {
  border-radius: 0;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

footer {
  background-color: #1d2024;
  font-weight: 300;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.logo {
  height: 65px;
}

.copyright {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}
